<img src="/stylesheets/loading.gif" alt="" id="imgLoading" style="position: absolute; top: 46%; left: 46%; z-index: 9999; display: none;"/>
<script type="text/javascript">
    var loading = $('#imgLoading');
    function notLogin(){
        window.parent.location='/';
    }
</script>
</body>
</html>