<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script type="text/javascript" src="/javascripts/jquery-1.10.1.min.js"></script>
    <script src="/javascripts/knockout-2.2.1.js"></script>
    <script src="/javascripts/underscore-min.js"></script>
    <script type="text/javascript" src="/javascripts/comm.js"></script>
    <style type="text/css">
        html, body {
            width: 100%;
            margin: 0px;
            padding: 0px;
        }

        .mainC { margin: 30px auto; letter-spacing: -4px; }
        .iconWrap { width: 140px; display: inline-block; padding-top: 5px; padding-bottom: 5px; text-align: center; letter-spacing: 0px; margin-bottom: 4px; }
        .siteTitle { text-shadow: #ff9900 0 1px 0; color: #ffff00 }
        @media screen {
            .mainC { width: 60%; margin: 30px auto; }
            .iconWrap { word-break: break-all; padding: 25px;  }
            .ico { font-size: 50px; margin: 10px 45px; }
            .ico-txt { font-size: 14px; font-family: "Microsoft Yahei", "Wenquanyi Micro Hei", Arial, sans-serif}
            .siteTitle { font-size: 50px; margin-left: 30px; }
            .icoU { font-size: 50px; margin-left: 10px; }
            #b_un { font-size: 25px; margin-top: 12px; display: inline-block }
        }
        @media (max-width: 600px) {
            .mainC { width: 95%; margin: 30px auto;   }
            .iconWrap { word-break: break-all; padding: 20px 5px; margin-left: 4px; }
            .ico { font-size: 20px; margin: 5px; }
            .ico-txt { font-size: 16px; }
            .icoU { font-size: 30px; margin-left: 10px; }
            .siteTitle { font-size: 12px; margin-left: 10px; }
            #b_un { font-size: 12px; margin-top: 12px; display: inline-block }
        }
    </style>

</head>
<body style="width: 100%;" class="bg-color-blue">
<div>
    <b class="siteTitle">
        瑞保驰合作伙伴自助平台</b>

    <div onclick="chgPwd()" class="fr mr10 lnk" style="width: 150px; color:#fff; text-align: right; line-height: 20px;">
        <b class="icon-user fr icoU"></b>
        <b id="b_un"></b><br/>
        <span id="spn_time"></span>
    </div>
</div>

<div id="d_sysFuns" class="mainC cb" data-bind="foreach:$data">
    <a data-bind="attr:{class:cls,href:Url}" target="_self" style="color: #fff">
        <span data-bind="attr:{'class':icon}"></span> <span data-bind="text:name" class="ico-txt"></span>
    </a>

</div>
<%if(isMobile){%>
<script type="text/javascript">
    $.getJSON('/admin/get', {t: 'sysfuns'}, function (d) {
        var m = 0;
        var ts = [];
        d = _.sortBy(d, function (i) {return i._id});
        d.forEach(function (di) {
            di.items.forEach(function (i, idx) {
                i.icon = 'ico ' + i.icon;
                i.cls = bgColor[m] + ' iconWrap';
                i.Url='/M'+ i.Url;
                ts.push(i);
                m++;
                m = m > bgColor.length - 1 ? 0 : m;
            });
        })
        ko.applyBindings(ts, document.getElementById('d_sysFuns'));
    });
</script>
<%}else{%>
<script type="text/javascript">
    $.getJSON('/admin/get', {t: 'sysfuns'}, function (d) {
        var m = 0;
        var ts = [];
        d = _.sortBy(d, function (i) {return i._id});
        d.forEach(function (di) {
            di.items.forEach(function (i, idx) {
                i.icon = 'ico ' + i.icon;
                i.cls = bgColor[m] + ' iconWrap';
                ts.push(i);
                m++;
                m = m > bgColor.length - 1 ? 0 : m;
            });
        })
        ko.applyBindings(ts, document.getElementById('d_sysFuns'));
    });
</script>
<%}%>
<script type="text/javascript">


    function getCookie(name) {
        var arr = document.cookie.match(new RegExp("(^| )" + name + "=([^;]*)(;|$)"));
        if (arr != null) return unescape(arr[2]);
        return null;
    }
    $('#b_un').html(JSON.parse(getCookie('InnerUser')).Name);
    $('#spn_time').text(Date.ToDateTimeString(null, true, '-'));
    function chgPwd() {
        window.location = '/user/m?t=changepwd';
    }
</script>
</body>
</html>