<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/mobile/blue.min.css"/>
    <link rel="stylesheet" href="/mobile/jquery.mobile.icons.min.css"/>
    <link rel="stylesheet" href="/mobile/jquery.mobile.structure-1.4.0.min.css"/>
    <script type="text/javascript" src="../javascripts/jquery-1.10.1.min.js"></script>
    <script src="/mobile/jquery.mobile-1.4.0.min.js"></script>
    <script type="text/javascript" src="../javascripts/async.js"></script>
    <script type="text/javascript" src="../javascripts/underscore-min.js"></script>
    <script type="text/javascript" src="../javascripts/comm.js"></script>
    <script type="text/javascript" src="../javascripts/knockout-2.2.1.js"></script>
</head>
<body>
