<% include ../Top.ejs %>
<script type="text/javascript" src="/javascripts/KOExt.js"></script>
<div id="d_list" class="wp100 hp100 oya hide">
    <table cellspacing="0" cellpadding="0" class="mt10 mc wp98" id="tb_bill">
    </table>
</div>
<div id="d_edit" class="wp100 hp100 oya hide">
    <div class="mc mt10" style="width: 610px;">
        <div class="editor-label">单号:</div>
        <div class="eidtor-field"><span data-bind="text:BillNum"></span></div>
        <div class="editor-label">状态:</div>
        <div class="eidtor-field"><span data-bind="text:Status"></span></div>
        <div class="editor-label">经销商:</div>
        <div class="eidtor-field"><span data-bind="text:Owner.Item2"></span></div>
        <div class="editor-label">建单时间:</div>
        <div class="eidtor-field"><span data-bind="text:CreateTime.Item1"></span></div>
        <div class="editor-label">建单人:</div>
        <div class="eidtor-field"><span data-bind="text:Creator.Item2"></span></div>
        <div class="editor-label">金额:</div>
        <div class="eidtor-field"><span data-bind="text:Sum"></span></div>
    </div>
    <div class="hr" style="height: 10px;"></div>
    <fieldset class="mc p10" style="width: 590px;">
        <legend><strong>订单内容:</strong></legend>
        <table cellspacing="0" cellpadding="0" style="width:590px;">
            <thead>
            <tr>
                <td>产品</td>
                <td>规格</td>
                <td>单位</td>
                <td>数量</td>
                <td>单价</td>
                <td>金额</td>
            </tr>
            </thead>
            <tbody data-bind="foreach:Items">
            <tr data-bind="css:{'even':$index()%2!=0}">
                <td data-bind="text:RelativeObj.Item2"></td>
                <td data-bind="text:Model"></td>
                <td data-bind="text:Unit"></td>
                <td data-bind="text:Amount"></td>
                <td data-bind="text:UnitPrice"></td>
                <td data-bind="text:Sum"></td>
            </tr>
            </tbody>
        </table>
    </fieldset>
    <div class="cb ac pt10">
        <% switch(st){
        case '未提交':
        %>
        <input type="button" value="提交订单" onclick="sub()"/>
        <input type="button" value="返回" onclick="showPnl('d_list')" class="ml10"/>
        <script type="text/javascript">
            function sub() {
                $.getJSON('/order/get', {t: 'submitorder', id: GV.mdl._id()}, function (d) {
                    alert(d.errro || '订单提交成功!');
                    if (d.msg) {
                        bindList();
                    }
                });
            }
        </script>
        <%
            break;
        case '未付款':
        %>
        <div class="mc" style="width:590px;">
            <b>银行凭证号:</b><input type="text" id="txt_voucherNum" style="width:200px;"/>

            <div class="pt10">
                <input type="button" value="确认付款" onclick="pay()"/>
                <input type="button" value="返回" onclick="showPnl('d_list')" class="ml10"/>
            </div>
            <script type="text/javascript">
                function pay() {
                    $.getJSON('/order/get', {t: 'payment', id: GV.mdl._id(), voucherNum: $('#txt_voucherNum').val()}, function (d) {
                        alert(d.errro || '付款确认完成!');
                        if (d.msg) {
                            bindList();
                        }
                    });
                }
            </script>
        </div>
        <%
            break;
            default :
                break;
        } %>
    </div>
</div>

<script type="text/javascript">
    $('#tb_bill').billTable({sltKoEvent: 'oSlt'});
    var st = '<%=st%>';
    GV.mdl = new Bill();
    ko.applyBindings(GV.mdl, document.getElementById('d_edit'));
    function bindList() {
        $.getJSON('/base/getobjs', {tp: 'Order', query: {Status: st}}, function (ds) {
            if (GV.List) {
                ko.mapping.fromJS(ds, GV.List);
            }
            else {
                GV.List = ko.mapping.fromJS(ds);
                ko.applyBindings(GV.List, document.getElementById('d_list'));
            }
            showPnl('d_list');
        });
    }
    function oSlt(d) {
        ko.mapping.fromJS(d, GV.mdl);
        showPnl('d_edit');
    }

</script>
<% include ../Bottom.ejs %>