html, body { width: 100%; height: 100%; margin: 0px; padding: 0px; font-size: 10pt; overflow: hidden; }

label, input, span, b { vertical-align: middle; }

td { height: 22px; vertical-align: middle; text-align: center; }
.even{ background-color: #e4e4e4;}
a {
    color: #2b5797; text-decoration: none; border: none;
}

.oh { overflow: hidden; }

.oxa { overflow: hidden; overflow-x: auto; }

.oya { overflow: hidden; overflow-y: auto; }

.fl { float: left; position: relative; }

.fr { float: right; position: relative; }

.cb { clear: both; }

.al { text-align: left; }

.ar { text-align: right; }

.ac { text-align: center; }

.hide { display: none; }

.wp90 { width: 90%; }

.wp92 { width: 92% }

.wp94 { width: 94%; }

.wp95 { width: 95%; }

.wp98 { width: 98%; }

.wp96 { width: 96%; }

.wp100 { width: 100%; }

.hp5 { height: 5%; }

.hp10 { height: 10%; }

.hp89 { height: 89%; }

.hp90 { height: 90%; }

.hp92 { height: 92%; }

.hp94 { height: 94%; }

.hp95 { height: 95%; }

.hp96 { height: 96%; }

.hp97 { height: 97%; }

.hp98 { height: 98%; }

.hp99 { height: 99%; }

.hp100 { height: 100%; }

.mc { margin-left: auto; margin-right: auto; }

.mp1 { margin: 1%; }

.mp2 { margin: 2% }

.mlp1 { margin-left: 1%; }

.mlp2 { margin-left: 2%; }

.mrp1 { margin-right: 1%; }

.mrp2 { margin-right: 2%; }

.mtp1 { margin-top: 1%; }

.mtp2 { margin-top: 2%; }

.pp1 { padding: 1%; }

.pp2 { padding: 2%; }



.ilblk { margin: 0; padding: 0; display: inline-block; *display: inline; zoom: 1; }

.hr { height: 1px; clear: both; display: block; }

a ,.anchor, .link, .lnk, .pointer { color: #003399; cursor: pointer; }
a:hover,.anchor:hover,.link:hover,.lnk:hover,.pointer:hover{color:#ff0000;}
.bold { font-weight: bold; }

h3 { font-size: 10pt }

h2, .middle { font-size: 12pt }

h1, .big { font-size: 14pt }

ul, li { margin-left: 0px; padding-left: 0px;
    list-style: none;
}

.toolPnl {
    height: 22px;
    line-height: 22px;
    padding: 4px 0px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 3px double #696969;
    clear: both;
}

.editor-label {
    width: 95px;
    padding-right: 5px;
    text-align: right;
    font-weight: bold;
    background-color: #336699;
    float: left;
    height: 25px;
    line-height: 25px;
    color: #FFFFFF;
}

.editor-field {
    width: 195px;
    padding-left: 5px;
    height: 25px;
    line-height: 25px;
    text-align: left;
    float: left;
    background-color: #F0F0F0;
}

.editor-field input[type=text] {
    width: 90%;
}

.fbold .bold {
    font-weight: bold;
}

.fRed, .fred {
    color: Red;
}

.pa {
    position: absolute;
    top: 0px;
}

.pr {
    position: relative;
}

.mt0 {
    margin-top: 0px;
}

.mt1 {
    margin-top: 1px;
}

.mt2 {
    margin-top: 2px;
}

.mt3 {
    margin-top: 3px;
}

.mt4 {
    margin-top: 4px;
}

.mt5 {
    margin-top: 5px;
}

.mt6 {
    margin-top: 6px;
}

.mt7 {
    margin-top: 7px;
}

.mt8 {
    margin-top: 8px;
}

.mt9 {
    margin-top: 9px;
}

.mt10 {
    margin-top: 10px;
}

.mt11 {
    margin-top: 11px;
}

.mt12 {
    margin-top: 12px;
}

.mt13 {
    margin-top: 13px;
}

.mt14 {
    margin-top: 14px;
}

.mt15 {
    margin-top: 15px;
}

.mt20 {
    margin-top: 20px;
}

.mt25 {
    margin-top: 25px;
}

.mt28 {
    margin-top: 28px;
}

.mt30 {
    margin-top: 30px;
}

.mt35 {
    margin-top: 35px;
}

.mt40 {
    margin-top: 40px;
}

.mt45 {
    margin-top: 45px;
}

.mt50 {
    margin-top: 50px;
}

.mt55 {
    margin-top: 55px;
}

.ml0 {
    margin-left: 0px;
}

.ml1 {
    margin-left: 1px;
}

.ml2 {
    margin-left: 2px;
}

.ml3 {
    margin-left: 3px;
}

.ml4 {
    margin-left: 4px;
}

.ml5 {
    margin-left: 5px;
}

.ml6 {
    margin-left: 6px;
}

.ml7 {
    margin-left: 7px;
}

.ml8 {
    margin-left: 8px;
}

.ml9 {
    margin-left: 9px;
}

.ml10 {
    margin-left: 10px;
}

.ml11 {
    margin-left: 11px;
}

.ml12 {
    margin-left: 12px;
}

.ml13 {
    margin-left: 13px;
}

.ml14 {
    margin-left: 14px;
}

.ml15 {
    margin-left: 15px;
}

.ml16 {
    margin-left: 16px;
}

.ml17 {
    margin-left: 17px;
}

.ml18 {
    margin-left: 18px;
}

.ml20 {
    margin-left: 20px;
}

.ml25 {
    margin-left: 25px;
}

.ml27 {
    margin-left: 27px;
}

.ml28 {
    margin-left: 28px;
}

.ml30 {
    margin-left: 30px;
}

.ml40 {
    margin-left: 40px;
}

.ml50 {
    margin-left: 50px;
}

.ml60 {
    margin-left: 60px;
}

.ml70 {
    margin-left: 70px;
}

.ml170 {
    margin-left: 170px;
}

.ml1p {
    margin-left: 1%;
}

.mr1p {
    margin-right: 1%;
}

.mr0 {
    margin-right: 0px;
}

.mr1 {
    margin-right: 1px;
}

.mr2 {
    margin-right: 2px;
}

.mr3 {
    margin-right: 3px;
}

.mr4 {
    margin-right: 4px;
}

.mr5 {
    margin-right: 5px;
}

.mr7 {
    margin-right: 7px;
}

.mr8 {
    margin-right: 8px;
}

.mr9 {
    margin-right: 9px;
}

.mr10 {
    margin-right: 10px;
}

.mr15 {
    margin-right: 15px;
}

.mr20 {
    margin-right: 20px;
}

.mr25 {
    margin-right: 25px;
}

.mb0 {
    margin-bottom: 0px;
}

.mb5 {
    margin-bottom: 5px;
}

.mb10 {
    margin-bottom: 10px;
}

.mb12 {
    margin-bottom: 12px;
}

.mb13 {
    margin-bottom: 13px;
}

.mb15 {
    margin-bottom: 15px;
}

.mb20 {
    margin-bottom: 20px;
}

.mb25 {
    margin-bottom: 25px;
}

.m0 {
    margin: 0px;
}

.m5 {
    margin: 5px;
}

.m7 {
    margin: 7px;
}

.m10 {
    margin: 10px;
}

.m15 {
    margin: 15px;
}

.m20 {
    margin: 20px;
}

.m25 {
    margin: 25px;
}

.mc {
    margin-left: auto;
    margin-right: auto;
}

.p0 {
    padding: 0px;
}

.p5 {
    padding: 5px;
}

.p10 {
    padding: 10px;
}

.p15 {
    padding: 15px;
}

.p20 {
    padding: 20px;
}

.p2p {
    padding: 2%;
}

.pt2 {
    padding-top: 2px;
}

.pt3 {
    padding-top: 3px;
}

.pt5 {
    padding-top: 5px;
}

.pt7 {
    padding-top: 7px;
}

.pt8 {
    padding-top: 8px;
}

.pt10 {
    padding-top: 10px;
}

.pt15 {
    padding-top: 15px;
}

.pt20 {
    padding-top: 20px;
}

.pt60 {
    padding-top: 60px;
}

.pl5 {
    padding-left: 5px;
}

.pl7 {
    padding-left: 7px;
}

.pl9 {
    padding-left: 9px;
}

.pl11 {
    padding-left: 11px;
}

.pl12 {
    padding-left: 12px;
}

.pl10 {
    padding-left: 10px;
}

.pl8 {
    padding-left: 8px;
}

.pl15 {
    padding-left: 15px;
}

.pl17 {
    padding-left: 17px;
}

.pl20 {
    padding-left: 20px;
}

.pl25 {
    padding-left: 25px;
}

.pl30 {
    padding-left: 30px;
}

.pl40 {
    padding-left: 40px;
}

.pl50 {
    padding-left: 50px;
}

.pb5 {
    padding-bottom: 5px;
}

.pb10 {
    padding-bottom: 10px;
}

.pb15 {
    padding-bottom: 15px;
}

.pb20 {
    padding-bottom: 20px;
}

.pr5 {
    padding-right: 5px;
}

.pr7 {
    padding-right: 7px;
}

.pr10 {
    padding-right: 10px;
}

.pr8 {
    padding-right: 8px;
}

.pr11 {
    padding-right: 11px;
}

.pr9 {
    padding-right: 9px;
}

.pr12 {
    padding-right: 12px;
}

.pr15 {
    padding-right: 15px;
}

.pr20 {
    padding-right: 20px;
}

.hlh22, .lh22 {
    height: 22px;
    line-height: 22px;
}

#menu, .menu { float: left; margin: 0px; width: 100%; position: relative; overflow: visible; font-size: 12px; color: #000; height: 25px; background-color: #EFEFF2; }

#menu li, .menu li { text-align: center; position: relative; display: inline-block; *display: inline; zoom: 1; }

#menu li:hover, .menu li:hover { background-color: #fff; }

#menu li a, .menu li a { display: inline-block; height: 25px; padding-left: 8px; padding-right: 8px; text-align: center; line-height: 25px; text-decoration: none; color: #000; }

#menu li ul, .menu li ul { position: absolute; display: none; z-index: 999; top: 23px; left: -1px; }

#menu li.act, .menu li.act { border: 1px solid #da532c; background: #e3a21a; border-bottom: none; }

#menu .act, .menu .act { display: block; border: 1px solid #ff9900; background: #FEE8AD; border-top: none; }

#menu .act a, .menu .act a { color: #000; }

#menu .act li, .menu .act li { clear: both; }