<% include ../Top.ejs %>
<style type="text/css">
    td input[type=text] { width: 60px; }
</style>
<div class="wp100 hp100 oya">
    <table cellspacing="0" cellpadding="0" class="wp98 mc mt10" id="d_list">
        <thead>
        <tr>
            <td>名称</td>
            <td>规格型号</td>
            <td>成本价</td>
            <td>代理价</td>
            <td>经销商价</td>
            <td>销售价</td>
        </tr>
        </thead>
        <tbody data-bind="foreach:$data">
        <tr data-bind="css:{even:$index()%2!=0}">
            <td data-bind="text:Name"></td>
            <td data-bind="text:Model"></td>
            <td><input type="text" data-bind="value:UnitCost"/></td>
            <td><input type="text" data-bind="value:DelegatePrice"/></td>
            <td><input type="text" data-bind="value:PartnerPrice"/></td>
            <td><input type="text" data-bind="value:Price"/></td>
        </tr>
        </tbody>
    </table>
    <div class="ac pt10 cb"><input type="button" value="保存" onclick="s()"/></div>
</div>

<script type="text/javascript">
    $.getJSON('/product/get', {t: 'price', m: 1}, function (d) {
        d.forEach(function (i) {
            i.PartnerPrice = i.PartnerPrice || 0; //经销商价
            i.UnitCost = i.UnitCost || 0; //生产成本价
            i.Price = i.Price || 0; //销售价
            i.DelegatePrice = i.DelegatePrice || 0; //代理价
        });
        GV.prices = d;
        GV.mdl = ko.mapping.fromJS(d);
        ko.applyBindings(GV.mdl, document.getElementById('d_list'));
    });
    function s() {
        var m = ko.mapping.toJS(GV.mdl);
        var chgs = [];
        _.each(m, function (i) {
            i.Price =Number(i.Price);
            i.UnitCost= Number(i.UnitCost);
            i.PartnerPrice= Number(i.PartnerPrice);
            i.DelegatePrice= Number(i.DelegatePrice);

        });

            $.post('/product/post', {t: 'updateprices', objs: JSON.stringify(m)}, function (d) { });

        alert('保存成功!');
    }
</script>
<% include ../Bottom.ejs %>