<% include ../Top.ejs %>
<script src="/javascripts/KOExt.js"></script>

<% if(isMobile){ %>
<style type="text/css">
    body {
        font-size: 16px;
    }

    #d_list {
        width: 98%;
        margin: 0px auto;
    }

    #img1 {
        width: 98%;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    #tb1 {

        width: 98%;
        margin: 10px auto;
    }
</style>


<% }else{ %>
<style type="text/css">
    #d_list {
        width: 610px;
        margin: 0px auto;
    }

    #img1 {
        float: left;
        width: 290px;
    }

    #tb1 {
        float: left;
        width: auto;
        margin-left: 10px;
    }
</style>
<% } %>

<div class="hide" id="d_list">

    <p>
        <b class="ml10"> 客户车型:</b><input type="text" id="txt_carType"/>
    </p>

    <p>
        <b class="ml10"> 客户车号:</b>
        <select id="slt_sf"></select>
        <select id="slt_zm"></select>
        <input type="text" id="txt_carNum" style="width:60px"/>
    </p>

    <p>
        <b class="ml10"> 回访电话:</b><input type="text" id="txt_tel"/>
    </p>

    <div id="mc" class="mc">
        <fieldset class="mc pp1 wp98">
            <legend><strong>产品信息:</strong></legend>
            <img id="img1" data-bind="attr:{'src':img}"/>
            <table id="tb1" cellspacing="0" cellpadding="0">
                <tr>
                    <td>产品名称:</td>
                    <td data-bind="text:Name"></td>
                </tr>
                <tr>
                    <td>规格型号:</td>
                    <td data-bind="text:Model"></td>
                </tr>
                <tr>
                    <td>单位:</td>
                    <td data-bind="text:Unit"></td>
                </tr>
                <tr>
                    <td>数量:</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>单价:</td>
                    <td data-bind="text:Price"></td>
                </tr>
                <tr>
                    <td>批号:</td>
                    <td data-bind="text:BatchNum"></td>
                </tr>
                <tr>
                    <td>生产日期:</td>
                    <td data-bind="text:ProduceTime"></td>
                </tr>
                <tr>
                    <td>产品序号:</td>
                    <td data-bind="text:SN"></td>
                </tr>
                <tr>
                    <td>授权经销商:</td>
                    <td data-bind="text:Dealer"></td>
                </tr>
            </table>
            <div style="height: 1px ;clear: both;"></div>
        </fieldset>

    </div>
</div>
<div class="cb ac pt10">
    <% if(isMobile){ %>
    <span class="bg-color-blueDark fg-color-white bt" onclick="c()">扫码</span>
    <span class="bg-color-blueDark fg-color-white bt ml10 hide" onclick="save()" id="bt_save">保存</span>
    <script type="text/javascript">
        function c() {
            AndroidObj.scanProduct('bindList');
        }
    </script>

    <% }else{ %>
    <input type="text" value="" id="txt_code" style="position: absolute; top:-100px;"/>
    <input type="button" value="扫码" onclick="c()"/>
    <input type="button" value="保存" class="ml10 hide" onclick="save()" id="bt_save"/>

    <script type="text/javascript">
        $(function () {
            $('#txt_code').on('keydown', function (e) {
                if (e.keyCode == 13 || e.keyCode == 108) {
                    var v= $('#txt_code').val();
                    bindList(v);
                }
            });
        })
        function c() {
            $('#txt_code').val('').focus();
        }
    </script>
    <% } %>
</div>


<script type="text/javascript">
    $.fn.generateOp = function (str) {
        var _t = $(this);
        for (var i = 0; i < str.length; i++) {
            _t.append('<option value="' + str[i] + '">' + str[i] + '</option>');
        }
    };
    $(function () {
        $('tr').each(function () {
            $(this).children('td:first').addClass('ar bold pr5 pl5 bg-color-blueLight ').siblings().addClass('al pl5').css({'borderBottom': 'solid 1px #e4e4e4'});
        })

        $('#mainContainer').removeClass('oya').show();
        $('#slt_sf').generateOp(DIC.SF);
        $('#slt_zm').generateOp(DIC.DXZM);
    });

    function bindList(currCode) {
        $('#txt_code').val('').focus();
        $.getJSON('/barcheck', {c: currCode}, function (d) {
            if (d.error) {
                $('#d_list').hide();
                $('#bt_save').hide();

                alert(d.error);
            }
            else {
                d = d.obj;
                d.ProduceTime= d.ProduceTime.split(' ').shift();
                d.SN = currCode;
                d.img = 'http://www.ruibaochi.com' + (d.Img || '/images/yanpin.png');
                if (GV.mdl) {
                    ko.mapping.fromJS(d, GV.mdl);
                }
                else {
                    GV.mdl = ko.mapping.fromJS(d);
                    ko.applyBindings(GV.mdl, document.getElementById('d_list'));
                }
                $('#d_list').show();
                $('#bt_save').show();
            }
        });

    }
    function save() {
        var m = {
            _id: '',
            BillNum: '',
            phoneNum: $('#txt_tel').val(),
            carType: $('#txt_carType').val(),
            carNum: $('#txt_carNum').val(),
            RelativeObj: {Item1:GV.mdl.ProductID(), Item2: GV.mdl.Name(), Item3: 'Product' },
            Model: GV.mdl.Model(),
            Unit: GV.mdl.Unit(),
            Cost: GV.mdl.Price,
            Amount: 1,
            UnitPrice: GV.mdl.Price(),
            Sum: GV.mdl.Price(),
            ProductInstanceID: GV.mdl.SN(),
            flag: 1
        };
        var s='';
        if(!m.carType){ s='请输入车型!\r'}
        if(!m.carNum){ s=s+'请输入车号!\r'}
        if(!m.phoneNum){ s=s+'请输入回访电话!\r'}
        if(s){ alert(s);return;}
        m.carNum= ($('#slt_sf').val())+($('#slt_zm').val())+ m.carNum.toUpperCase();

        $.post('/sale/post', { obj: JSON.stringify(m)}, function (d) {
            alert(d.error || '保存成功!');
            $('#d_list').hide();
            $('#bt_save').hide();
            $('input[type=text]').val('');
        });
    }
</script>
<% include ../Bottom.ejs %>