<% include ../Top.ejs%>
<div class="wp98 mc mt10">
    <b class="ml10">开始时间:</b><input type="text"  id="txt-bTime"/>
    <b class="ml10">结束时间:</b><input type="text" id="txt-eTime">
    <input type="button" value="查询" onclick="q()"/>
</div>

<% include ../Bottom.ejs%>